<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Center>
        <h1> HELLO THIS IS ACCESSRECORD PAGE !!!!! </h1>
        <form method="POST">
            {% csrf_token %}
            <label for="wb">NAME</label>
            <select name="wb" id="wb">
            {% for ao in acess %}
            <option value="{{ao}}">{{ao.name}}</option>
            {% endfor %}
            </select>
            <br>
            <br>
            <label for="author"> AUTHOR </label>
            <input type="text" name="author" id="author">
            <br>
            <br>
            <label for="date">DATE</label>
            <input type="date" name="date" id="date">
            <br>
            <br>
            
            <input type="submit" value="insert_acces">

        </form>
    </Center>
    
</body>
</html>